# Set up your Strava API application
# Client ID
OAUTH_CLIENT_ID = "..."
# Client secret
OAUTH_CLIENT_SECRET = "..."
# authorization callback domain
OAUTH_CBACK_URL = "http://localhost:8088/exchange_token"