#### config.py

#### Activity fetch setup

# Set up your Strava API application
# Client ID
OAUTH_CLIENT_ID = "..."
# Client secret
OAUTH_CLIENT_SECRET = "..."
# authorization callback domain, default is okay - no need to change that.
OAUTH_CBACK_URL = "http://localhost:8088/exchange_token"

# Privacy controls
# Array of coordinates around which to hide activity start/end tracks
HOME_COORDINATES = [
    (46.000000, 14.000000),   # Home
    (45.000000, 15.000000),   # Vacation home
]
# Distance in meters around HOME_COORDINATES to hide tracks
HOME_OFFSET = 1000

#### Builder setup:

# Your Hugo blog's home folder, optional
HUGO_PATH = "/home/user/hugo_site/"

# Path to fonts, used for image overlay
FONT_PATH_REGULAR = "./assets/fonts/Roboto-Regular.ttf"
FONT_PATH_BOLD = "./assets/fonts/Roboto-Bold.ttf"
